@import "fuentes";

/* variables */
$azul:blue;
$negro:rgb(0,0,0);
$amarillo:yellow;


.col-lg-6{
	h1{
	 color:$azul;
	}
	p{
	color:$amarillo;
	font-size:$pDesktop;
	}
} 

.texto{
	background:linear-gradient(to bottom, black, yellow);
	&__encabezado{
		color:$amarillo;
	}
	&__parrafo{
		font-size:20px;
		&--color{
		color:$azul;
		 @media only screen and (max-width:768px){
		color:$amarillo;
		}
		}
	}
}